@model ItemListViewModel
<!-- the view's model is of type ItemListViewModel. This model type defines the structure of the data that the view expects to receive.
    At the top of your Table.cshtml view, you're specifying that the view is expecting a model of type ItemListViewModel using (at)model ItemListViewModel.
    This tells the view that it should receive an instance of ItemListViewModel as its model.
-->
<h1>List of Shop Items (@ViewBag.CurrentViewName View)</h1>
<a href="/Item/Grid">Grid View</a>

<div class="container">
    <table class='table table-striped'>
        <tr><th>Id</th><th>Name</th><th>Price</th><th>Description</th></tr>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.ItemId</td>
                <td>@item.Name</td>
                <td>@item.Price.ToString("0.00 NOK")</td>
                <td>@item.Description</td>
                <td></td>
            </tr>
        }
    </table>
</div>
